/*background image kood pärit - http://css-tricks.com/perfect-full-page-background-image/ */

#main_body{ 
  background: url(taustad/taust3.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#satch_body{
  background: url(taustad/satch1.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#nick_body{
  background: url(taustad/nick1.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#mikael_body{
  background: url(taustad/opeth1.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#steven_body{
  background: url(taustad/steven1.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#ian_body{
  background: url(taustad/ian1.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#menu{
	min-height:30px;
	min-width:800px;
}
body{
	min-width: 1000px;
    min-height: %;
	font-family: 'Hammersmith One', sans-serif;
	color:#00BFFF;
	text-align:center;
}
h1{
	font-family:"Tahoma", Geneva, sans-serif;
	color:#0077b3;
	font-size:450%;
	display: block;
	text-align: center;
}
h2{
	font-family:"Tahoma", Geneva, sans-serif;
	color:#0077b3;
	font-size:200%;
	text-align:left;
	color:#0077b3;
}
#log{
	float: right;
	color:#FFCC00;
	font-weight:700;
}
#wrap{
	max-width:1050px;
	min-height:600px;
	margin-left:auto;
	margin-right:auto;
}
ul
{
	position:relative;
	text-align:center;
	list-style-type:none;
	padding:0px;
	margin:0px;
	border:3px #E6B800 ridge;
	padding:20px;
	font-size: 150%;
	text-align:center;
	display:block;
	background:#444444;
	font-weight:800;
}
#content{
	clear:both;
	background:#444444;
	padding:20px;
	padding-left:85px;
	text-align:justify;
	text-justify:inter-word;
	border:5px #E6B800 ridge;
}
#content img{
	border: 4px black solid;
	margin-left:auto;
	margin-right:auto;
}
a{
	color:#FFCC00;
	text-decoration:none;
}     
a:hover {
	color:#ffe066;
	text-decoration:none;
}
#registreeru:link{
	color:#FFCC00;
	text-decoration:none;
}
#registreeru:hover {
	color:#d9d9d9;
	text-decoration:none;
}
.pilt{
	display:block ;
	margin-left:auto ;
	margin-right:auto ;
}
.role{
	text-align:center;
	color:#d9d9d9;
}
.bio{
	border:5px black ridge;
	padding:20px;
}
.comment{
	border:5px black ridge;
	padding:20px;
	color:#FFCC00;
}
.ptabel{
	border:5px black inset;
	padding:5px;
}
#frame {
	display:none;
	position:absolute; 
	box-shadow: 4px 4px 8px 4px #888;
	-webkit-box-shadow: 4px 4px 8px 4px #888;
	box-shadow: 4px 4px 8px 4px #888;
}
#title { 
	background:black; 
	overflow-x:hidden;
}
#filler {
	vertical-align:bottom;
	border:solid black 10px;
}
#wrap2{
	width: 100%;
	max-width: 1100px;
	margin: 50px auto;
}
#boxy{
	width:520px;
	height:370px;
	border:5px black ridge;
	background-color:#333333;
}
a.button{
  padding:10px;
  background:#FFCC00;
  margin:10px;
  display:block;
  text-align:center;
}
a.button:hover{
  background:#FF4500;
  color:#FFCC00;
}
