#main_body{ 
  background: url(taustad/taust3.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#satch_body{
  background: url(taustad/satch1.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#nick_body{
  background: url(taustad/nick1.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#mikael_body{
  background: url(taustad/opeth1.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#steven_body{
  background: url(taustad/steven1.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#ian_body{
  background: url(taustad/ian1.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#menu{
	min-height:30px;
	min-width:800px;
}
body{
	min-width: 1000px;
	font-family: 'Hammersmith One', sans-serif;
	color:#00BFFF;
	text-align:center;
}
h1{
	font-family:"Tahoma", Geneva, sans-serif;
	color:#0077b3;
	font-size:450%;
	display: block;
	text-align: center;
}
h2{
	font-family:"Tahoma", Geneva, sans-serif;
	color:#0077b3;
	font-size:200%;
	text-align:left;
	color:#0077b3;
}
#log{
	float: right;
	color:#FFCC00;
	font-weight:700;
}
#wrap{
	max-width:1050px;
	min-height:600px;
	margin-left:auto;
	margin-right:auto;
}
ul
{
	position:relative;
	text-align:center;
	list-style-type:none;
	padding:0px;
	margin:0px;
	border:3px #E6B800 ridge;
	padding:20px;
	font-size: 150%;
	text-align:center;
	display:block;
	background:#444444;
	font-weight:800;
}
#tab{
	margin-left:-15px;
}
#content{
	clear:both;
	background:#444444;
	padding:20px;
	text-align:justify;
	text-justify:inter-word;
	border:5px #E6B800 ridge;
}
/*#content img{
	border: 4px black solid;
	margin-left:auto;
	margin-right:auto;
}*/
a{
	color:#FFCC00;
	text-decoration:none;
}     
a:hover {
	color:#ffe066;
	text-decoration:none;
}
#registreeru:link{
	color:#FFCC00;
	text-decoration:none;
}
#registreeru:hover {
	color:#d9d9d9;
	text-decoration:none;
}

.role{
	text-align:center;
	color:#d9d9d9;
}
.bio{
	border:5px black ridge;
	padding:20px;
}
.comment{
	border:5px black ridge;
	padding:20px;
	color:#FFCC00;
}
.ptabel{
	border:5px black inset;
	padding:5px;
}
#frame {
	display:none;
	position:absolute; 
	box-shadow: 4px 4px 8px 4px #888;
	-webkit-box-shadow: 4px 4px 8px 4px #888;
	box-shadow: 4px 4px 8px 4px #888;
}
#title { 
	background:black; 
	overflow-x:hidden;
}
#filler {
	vertical-align:bottom;
	border:solid black 10px;
}
#wrap2{
	width: 100%;
	max-width: 1100px;
	margin: 50px auto;
}
.boxy{
	width:450px;
	height:300px;
	border:5px black ridge;
	background-color:#333333;
}
a.button{
  padding:10px;
  background:#FFCC00;
  margin:10px;
  display:block;
  text-align:center;
}
a.button:hover{
  background:#FF4500;
  color:#FFCC00;
}
.img {
    transform: scale(-1, 1);
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -khtml-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
}
.selected{
	border-radius: 0px 0px 0px 0px;
	-moz-border-radius: 0px 0px 0px 0px;
	-webkit-border-radius: 0px 0px 0px 0px;
	border: 3px solid #f5ce0c;
}
.form
{
	height:250px;
	width:400px;
	clear:both;
	background:#444444;
	padding:20px;
	text-align:justify;
	text-justify:inter-word;
	border:5px #E6B800 ridge;
    position: absolute;

  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.form2{
	
	position: absolute;
    top: 35%;
    left: 40%;

    margin: -15% 0 0 -25%;
}
.regform{
		height:450px;
	width:400px;
	clear:both;
	background:#444444;
	padding:20px;
	text-align:justify;
	text-justify:inter-word;
	border:5px #E6B800 ridge;
    position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

}

.form3{
	width: 100%;
	position: absolute;
    top: 25%;
    left: 40%;
	
        clear: both;
    margin: -15% 0 0 -25%;
}

input[type=submit]{
  background: #eeff00;
  background-image: -webkit-linear-gradient(top, #eeff00, #dbd004);
  background-image: -moz-linear-gradient(top, #eeff00, #dbd004);
  background-image: -ms-linear-gradient(top, #eeff00, #dbd004);
  background-image: -o-linear-gradient(top, #eeff00, #dbd004);
  background-image: linear-gradient(to bottom, #eeff00, #dbd004);
  -webkit-border-radius: 11;
  -moz-border-radius: 11;
  border-radius: 11px;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
  font-family: Arial;
  color: #000000;
  font-size: 12px;
  padding: 5px 18px 5px 18px;
  border: solid #030405 0px;
  font-weight: bold;
  text-decoration: none;
  
}
input[type=submit]:hover{
  background: #ccff00;
  background-image: -webkit-linear-gradient(top, #ccff00, #fff200);
  background-image: -moz-linear-gradient(top, #ccff00, #fff200);
  background-image: -ms-linear-gradient(top, #ccff00, #fff200);
  background-image: -o-linear-gradient(top, #ccff00, #fff200);
  background-image: linear-gradient(to bottom, #ccff00, #fff200);
  text-decoration: none;
  font-weight: bold;
}


