TABLE, TD {font-family:Arial, Helvetica; font-size:11px;} 
SELECT { FONT-WEIGHT: bold; FONT-SIZE: 11px; FONT-FAMILY: Arial;}
FORM { margin: 2px;}
body{
	background-color:#f2f2f2;
}
.heading{
	font-family:Arial, Helvetica; font-size:15px; font-weight:bold;
}
.table_header {
	font-family:Arial; font-size:11px; font-weight:bold; background-color:#6ed22d; BACKGROUND-IMAGE: url(img/tr_header.jpg); 
}
.table_header2 {
	font-family:Arial; font-size:11px; font-weight:bold; background-color:#bfeba3; 
}
.td_header {
	font-family:Arial, Helvetica; font-size:13px; font-weight:bold;
}
.table_green{
	border: 1px solid #6ed22d; border-collapse: collapse;
}
.u_input{
	font-family:Arial, Helvetica; font-size 17px; font-weight:bold;
}
.table_td {
	font-family:Arial; font-size:11px; font-weight:normal; border:0px
}
.red_td {
	font-family:Arial; font-size:11px; font-weight:bolder; color:red;
}
.red_td2 {
	font-family:Arial; font-size:11px; color:red;
}
.tr_behavior {
	behavior:url(script/tbl_row.htc);
}
.cs_input {
	BORDER-RIGHT: #3b7a0f 1.5px solid; BORDER-TOP: #3b7a0f 1.5px solid; PADDING-LEFT: 3px; FONT-SIZE: 11px; VERTICAL-ALIGN: left; BORDER-LEFT: #3b7a0f 1.5px solid; WIDTH: 100px; COLOR: #666666; BORDER-BOTTOM: #3b7a0f 1.5px solid; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif; HEIGHT: 18px; BACKGROUND-COLOR: white; TEXT-ALIGN: left;
}
.cs_button {
	BORDER-RIGHT: #3b7a0f 1px solid; BORDER-TOP: #3b7a0f 1px solid; BORDER-LEFT: #3b7a0f 1px solid; BORDER-BOTTOM: #3b7a0f 1px solid; BACKGROUND-COLOR: #6ed22d; COLOR: #000000; MARGIN-TOP: 1px; FONT-WEIGHT: bold; FONT-SIZE: 11px; MARGIN-LEFT: 2px; LINE-HEIGHT: 10px; FONT-FAMILY: Arial, Helvetica; HEIGHT: 21px; BACKGROUND-IMAGE: url(img/tr_header.jpg);
}
.cs_file {
	BORDER-RIGHT: #3b7a0f 1px solid; BORDER-TOP: #3b7a0f 1px solid; BORDER-LEFT: #3b7a0f 1px solid; BORDER-BOTTOM: #3b7a0f 1px solid; COLOR: #000000; FONT-WEIGHT: bold; FONT-SIZE: 11px; LINE-HEIGHT: 10px; FONT-FAMILY: Arial, Helvetica; HEIGHT: 18px; width:250px;
}
.menuitemtop {
	FONT-WEIGHT: bolder; FONT-SIZE: 11px; BORDER-LEFT-COLOR: #ffffff; BACKGROUND-IMAGE: url(img/topmenu.gif); PADDING-BOTTOM: 2px; COLOR: #333333; BORDER-TOP-COLOR: #ffffff; TEXT-INDENT: 10px; PADDING-TOP: 2px; BORDER-BOTTOM: #ffffff 1px solid; BACKGROUND-REPEAT: no-repeat; FONT-FAMILY: Arial, Helvetica, sans-serif;
}
.menuitemsub{
	FONT-WEIGHT: normal; FONT-SIZE: 11px; BORDER-LEFT-COLOR: #ffffff; PADDING-BOTTOM: 2px; COLOR: #333333; BORDER-TOP-COLOR: #ffffff; TEXT-INDENT: 5px; PADDING-TOP: 2px; BORDER-BOTTOM: #ffffff 1px solid; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #f2f2f2; vertical-align:center;
}
.body_header {
	font-family:Arial; font-size:14px; font-weight:normal; VERTICAL-ALIGN: top;
}
:link {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #3b7a0f; FONT-FAMILY: arial, helvetica, sans-serif; TEXT-DECORATION: none
}
A.linkcontent {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #3b7a0f; FONT-FAMILY: arial, helvetica, sans-serif; TEXT-DECORATION: underline
}
A:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #3b7a0f; FONT-FAMILY: arial, helvetica, sans-serif; TEXT-DECORATION: none
}
A:active {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #3b7a0f; FONT-FAMILY: arial, helvetica, sans-serif; TEXT-DECORATION: underline
}
.SA:active {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #3b7a0f; FONT-FAMILY: arial, helvetica, sans-serif; TEXT-DECORATION: none
}
A:hover {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #3b7a0f; FONT-FAMILY: arial, helvetica, sans-serif; TEXT-DECORATION: underline
}
.div_table {
	scrollbar-face-color: #FFFFFF; 
	scrollbar-shadow-color: #FFFFFF; 
	scrollbar-highlight-color: #FFFFFF; 
	scrollbar-3dlight-color: #FFFFFF; 
	scrollbar-darkshadow-color: #FFFFFF; 
	scrollbar-track-color: #FFFFFF; 
	scrollbar-arrow-color: #005680
}
.font_roheline{color:#3b7a0f;}
.taust_roheline{color:#6ed22d}
.test3{BACKGROUND-IMAGE: url(img/nav_arrow_right.gif); background-repeat: no-repeat; }
.log_error_font{color:red}
.log_info_font{color:green}
